{% extends "base/base.html" %}
{% block title %} {{ mytitle }} {% endblock %}
{% block content %} 
<h1 style="color: blue; font-size: 16pt; font-family: sans-serif;"><strong>Welcome to our website</strong></h1>
<p> <strong> What are miRNAs? </strong></p>
<p> MicroRNAs - Also called miRNA - are a class of small noncoding RNAs of aroung 22 nucleotides in lenght which are involved in the regulation of gene expression at the posttranscriptional level by degrading their target mRNAs and/or inhibiting their translation.</p><br><br>
{% endblock %}

